@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-out forwards;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
  color: #384b3d
}

/* Custom transitions */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Loading animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}
.slick-prev:before,
.slick-next:before {
  color: #3A7D44; /* Change to any color you want */
}
/* Desktop Navigation Links */
.nav-link {
  @apply text-white font-medium transition duration-300 hover:text-gray-300;
}

/* Desktop Navigation Buttons */
.nav-button {
  @apply bg-white text-[#384b3d] px-4 py-2 rounded-md font-medium hover:bg-[#3F4F44] hover:text-white hover:border-2 hover:border-white transition duration-300;
}

/* Mobile Menu Links */
.mobile-link {
  @apply text-white text-lg font-medium transition duration-300 hover:text-gray-300;
}

/* Mobile Menu Buttons */
.mobile-button {
  @apply bg-white text-[#384b3d] px-5 py-3 rounded-md font-semibold hover:bg-[#3F4F44] hover:text-white transition duration-300;
}
